@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
.navbar{
    margin-bottom: 0;
}
a:hover,a:focus,a:active{
    text-decoration: none;
}
.navbar-default{
    height: 100px;
    background-color: #fff;
}
.navbar-default li{
    padding: 40px 0;
}
.navbar-default img {
    height: 80px;
    width: 80px;
    float: left;
    padding-top: 10px;
    margin-right: 10px;
}
.navbar-brand{
    padding: 2px;   
    display: inline;
}
.navbar-brand span{
    padding: 40px 0;
    float: right;
    color: #90d899;
    font-size: 40px;
}