#title{
    background-color: #2196F3;
    color: #fff;
}
.title-area {
    display: inline;
    float: left;
    padding: 0 150px;
    text-align: center;
    width: 100%;
}
.title-area .title {
    color: #056ece;
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
}
.title-area .line {
    background-color: #777;
    display: inline-block;
    height: 2px;
    width: 60px;
    transition: 1s;
    margin-bottom: 20px;
}
.title-area p {
    color: #777777;
    line-height: 25px;
    margin-top: 20px;
}
.title-area:hover>.line{
    width: 200px;
    background-color: #056ece;
}

.title-container{
    padding: 20px;
}
.title-container .fa{
    float: left;
    margin-right: 16px;
    font-size: 70px;
    color: #2196F3;
}
.title-container .caption-cont h3{
    color: rgb(240,37,42);
    margin: 5px;
    font-size: 30px;
}
.title-container .caption-cont span{
    color: #008000;
    font-size: 20px;
}

/****************************
services circle section
*********************************/
.box{
    width: 20%;
    height: 140px;
    padding: 0 10px;
}
.round-box{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    background-color: rgba(234,37,42,0.7);
    color: #fff;
    word-wrap: normal;
    font-size: 13px;
    font-weight: 600;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    line-height: 22px;
    transition: 0.6s;
}
.round-box:hover{
    background-color: rgba(234,37,42,1);
}
#services ul{
    margin-top: 20px;
    padding-left: 0;
}
#services li{
    list-style: none;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #eee;
}
#ourwork{
    background-color: #333;
    font-size: 14px;
    line-height: 30px;
    color: #eee;
}
#ourwork h3{
    color: #2196F3;
    margin-top: 0;
}
#ourwork p{
    margin-top: 30px;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .title-area{
        padding: 0 10px;
    }
}