section{
    padding: 20px 0;
}
.title-area {
    display: inline;
    float: left;
    padding: 0 150px;
    text-align: center;
    width: 100%;
}
.title-area .title {
    color: #056ece;
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
}
.title-area .line {
    background-color: #777;
    display: inline-block;
    height: 2px;
    width: 60px;
    transition: 1s;
    margin-bottom: 20px;
}
.title-area p {
    color: #777777;
    line-height: 25px;
    margin-top: 20px;
}
.title-area:hover>.line{
    width: 200px;
    background-color: #056ece;
}

/**************************
        services
*********************/
.round-box{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    background-color: rgba(234,37,42,0.7);
    color: #fff;
    word-wrap: normal;
    font-size: 13px;
    font-weight: 600;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    line-height: 22px;
    transition: 0.6s;
}
.round-box:hover{
    background-color: rgba(234,37,42,1);
}
/*******************************************
contact section content
*************************************************/
#contact {
    background-color: #000;
    color: #eee;
}
#contact dt {
    color: #2196F3;
    font-size: 18px;
    float: left;
    width: 120px;
    margin: 0px;
    line-height: 30px;
    text-transform: uppercase;
}
#contact dd {
    font-size: 15px;
    line-height: 30px;
}
#contact .social-link {
    padding: 35px 0;
    margin: 0 0 0 68px;
    display: block;
    overflow: hidden;
    list-style: none;
}
#contact .social-link li {
    float: left;
    margin-right: 8px;
}
#contact .social-link li a {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color: #fff;
    background: #2196F3;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
#contact .social-link li a:hover,
#contact .social-link li a:focus {
    text-decoration: none;
}
#contact .twitter a:hover {
    background: #55acee;
}
#contact .facebook a:hover {
    background: #3b5998;
}
#contact .pinterest a:hover {
    background: #cb2026;
}
#contact .gplus a:hover {
    background: #dd4b39;
}
#contact .dribbble a:hover {
    background: #ea4c89;
}
#contact .drop-us-a-line {
    color: #616161;
}
#contact .drop-us-a-line form {
    width: 540px;
    padding: 60px;
    height: 380px;
    background: url(../images/footer-bg.jpg);
}
#contact .drop-us-a-line form h2 {
    font-size: 24px;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
}
#contact .drop-us-a-line form label {
    width: 118px;
    float: left;
    line-height: 35px;
}
#contact .drop-us-a-line form input,
#contact .drop-us-a-line form textarea {
    width: 300px;
    height: 30px;
    background: #fff;
    border: 1px solid #73c5e1;
    border-radius: 3px;
    color: #03A9F4;
    font-size: 13px;
    padding: 0 10px;
    margin: 0 0 5px 0;
}
#contact .drop-us-a-line form textarea {
    resize: none;
    height: 70px;
    padding: 10px;
}
#contact .drop-us-a-line form input.submit {
    float: right;
    width: 160px;
    height: 35px;
    background: #fff;
}



/*****************
hero section
*********************/ 
#hero{
    width: 100%;
    height: 90vh;
    overflow-x: hidden;
    background-image: url(../images/it-software.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 0;
}
#hero .sub-section{
    width: 20%;
    position: absolute;
    overflow: hidden;
    height: 90vh;
    transition-duration: 0.3s;

}
#hero .first-sub-section{
    left: 0;
}
#hero .first-sub-section.is-hovered{
    background-image: url('../images/digitalmarketing.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#hero .second-sub-section{
    left: 20%;
}
#hero .second-sub-section.is-hovered{
    background-image: url('../images/mobile app development empty.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#hero .third-sub-section{
    left: 40%;
}
#hero .third-sub-section.is-hovered{
    background-image: url('../images/dm.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#hero .fourth-sub-section{
    left: 60%;
}
#hero .fourth-sub-section.is-hovered{
    background-image: url('../images/dm.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#hero .fifth-sub-section{
    left: 80%;
}
#hero .fifth-sub-section.is-hovered{
    background-image: url('../images/onine.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#hero .sub-section.is-hovered{
    left: 0;
    width: 100%;
    z-index: 10;
}
.sub-section h3{
    color: #fff;
    padding: 20px 0;
    font-size: 30px;
    text-align: center;
    background: rgba(0, 123, 195, 0.73);
}
.sub-section .top{
    margin-top: 70vh;
}
.sub-section .bottom{
    margin-top: 70vh;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    #hero{
        height: 50vh;
    }
    #hero .sub-section{
        height: 50vh;
    }
    #hero .sub-section h3{
        font-size: 12px;
    }
    .sub-section .top{
        margin-top: 10vh;
    }
    .sub-section .bottom{
        margin-top: 30vh;
    }
    .title-area{
        padding: 0 10px;
    }
    #contact .social-link {
        margin-left: 10px;
    }
}